version: '3'
services:
  # PHP Application
  php:
    build: '.'
    ports:
      - "8180:80"
    volumes:
      - .:/var/www/html

  # PostgreSQL Database
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
